interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/cu_cli_test_v1?api-version=2025-11-01
  response:
    body:
      string: '{"analyzerId":"cu_cli_test_v1","createdAt":"2026-07-23T17:43:08Z","lastModifiedAt":"2026-07-23T17:43:08Z","baseAnalyzerId":"prebuilt-document","config":{},"status":"ready","warnings":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: DELETE
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/cu_cli_test_v1?api-version=2025-11-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US 2
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: DELETE
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/cu_cli_test_v1?api-version=2025-11-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US 2
    status:
      code: 204
      message: No Content
version: 1
