interactions:
- request:
    body: <binary-scrubbed>
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-videoSearch:analyze?api-version=2025-11-01&stringEncoding=codePoint
  response:
    body:
      string: '{"id":"e83d5de0-5d69-4436-b312-c11ddb5d7ca8","status":"Running","result":{"analyzerId":"prebuilt-videoSearch","apiVersion":"2025-11-01","createdAt":"2026-09-15T09:34:18Z","warnings":[],"contents":[]}}'
    headers:
      Content-Type:
      - application/json
      Operation-Location:
      - https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/e83d5de0-5d69-4436-b312-c11ddb5d7ca8?api-version=2025-11-01
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/e83d5de0-5d69-4436-b312-c11ddb5d7ca8?api-version=2025-11-01
  response:
    body:
      string: '{"id":"e83d5de0-5d69-4436-b312-c11ddb5d7ca8","status":"Running","result":{"analyzerId":"prebuilt-videoSearch","apiVersion":"2025-11-01","createdAt":"2026-09-15T09:34:18Z","warnings":[],"contents":[]}}'
    headers:
      Content-Type:
      - application/json
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/e83d5de0-5d69-4436-b312-c11ddb5d7ca8?api-version=2025-11-01
  response:
    body:
      string: '{"id":"e83d5de0-5d69-4436-b312-c11ddb5d7ca8","status":"Succeeded","result":{"analyzerId":"prebuilt-videoSearch","apiVersion":"2025-11-01","createdAt":"2026-09-15T09:34:18Z","stringEncoding":"codePoint","warnings":[],"contents":[{"markdown":"#
        Video: 00:00.733 => 00:02.067\nWidth: 1080\nHeight: 608\n\nTranscript\n```\nWEBVTT\n\n00:01.390
        --> 00:06.670\n<Speaker 1>When it comes to the neural TTS, in order to get
        a good voice, it''s better to have good data.\n```\n\nKey Frames\n- 00:00.733
        ![](keyFrame.733.jpg)\n- 00:02.067 ![](keyFrame.2067.jpg)","fields":{"Summary":{"type":"string","valueString":"A
        title card introduces a collaboration between Flight Simulator and Microsoft
        Azure AI over an aerial island view."}},"kind":"audioVisual","startTimeMs":733,"endTimeMs":2067,"width":1080,"height":608,"KeyFrameTimesMs":[733,2067],"transcriptPhrases":[{"speaker":"Speaker
        1","startTimeMs":1390,"endTimeMs":6670,"text":"When it comes to the neural
        TTS, in order to get a good voice, it''s better to have good data.","confidence":0.928,"words":[{"startTimeMs":1390,"endTimeMs":1630,"text":"When"},{"startTimeMs":1630,"endTimeMs":1790,"text":"it"},{"startTimeMs":1790,"endTimeMs":2030,"text":"comes"},{"startTimeMs":2030,"endTimeMs":2150,"text":"to"},{"startTimeMs":2150,"endTimeMs":2230,"text":"the"},{"startTimeMs":2230,"endTimeMs":2590,"text":"neural"},{"startTimeMs":2590,"endTimeMs":3230,"text":"TTS,"},{"startTimeMs":3230,"endTimeMs":3470,"text":"in"},{"startTimeMs":3470,"endTimeMs":3710,"text":"order"},{"startTimeMs":3710,"endTimeMs":3910,"text":"to"},{"startTimeMs":3990,"endTimeMs":4190,"text":"get"},{"startTimeMs":4190,"endTimeMs":4270,"text":"a"},{"startTimeMs":4270,"endTimeMs":4510,"text":"good"},{"startTimeMs":4510,"endTimeMs":4910,"text":"voice,"},{"startTimeMs":4990,"endTimeMs":5230,"text":"it''s"},{"startTimeMs":5230,"endTimeMs":5630,"text":"better"},{"startTimeMs":5630,"endTimeMs":5790,"text":"to"},{"startTimeMs":5790,"endTimeMs":6030,"text":"have"},{"startTimeMs":6030,"endTimeMs":6310,"text":"good"},{"startTimeMs":6310,"endTimeMs":6670,"text":"data."}],"locale":"en-US"}],"cameraShotTimesMs":[1467,3233,7367,8200,11367,13567,16100,19433,23967,30033,33200,35267,37700,39200,42033],"mimeType":"video/mp4"},{"markdown":"#
        Video: 00:02.067 => 00:04.067\nWidth: 1080\nHeight: 608\n\n\n\nKey Frames\n-
        00:02.067 ![](keyFrame.2067.jpg)\n- 00:02.667 ![](keyFrame.2667.jpg)\n- 00:04.067
        ![](keyFrame.4067.jpg)","fields":{"Summary":{"type":"string","valueString":"An
        interview-style shot of a man in an office explains that high-quality data
        is needed to produce good neural text-to-speech voices."}},"kind":"audioVisual","startTimeMs":2067,"endTimeMs":4067,"wi[...]
