interactions:
- request:
    body: <binary-scrubbed>
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-documentFieldSchema:analyze?api-version=2025-11-01&stringEncoding=codePoint
  response:
    body:
      string: '{"id":"57a7de51-e409-44ef-a456-a0f50fa63a18","status":"Running","result":{"analyzerId":"prebuilt-documentFieldSchema","apiVersion":"2025-11-01","createdAt":"2026-07-23T18:01:54Z","warnings":[],"contents":[]}}'
    headers:
      Content-Type:
      - application/json
      Operation-Location:
      - https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/57a7de51-e409-44ef-a456-a0f50fa63a18?api-version=2025-11-01
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US 2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/57a7de51-e409-44ef-a456-a0f50fa63a18?api-version=2025-11-01
  response:
    body:
      string: '{"id":"57a7de51-e409-44ef-a456-a0f50fa63a18","status":"Running","result":{"analyzerId":"prebuilt-documentFieldSchema","apiVersion":"2025-11-01","createdAt":"2026-07-23T18:01:54Z","warnings":[],"contents":[]}}'
    headers:
      Content-Type:
      - application/json
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US 2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/57a7de51-e409-44ef-a456-a0f50fa63a18?api-version=2025-11-01
  response:
    body:
      string: '{"id":"57a7de51-e409-44ef-a456-a0f50fa63a18","status":"Succeeded","result":{"analyzerId":"prebuilt-documentFieldSchema","apiVersion":"2025-11-01","createdAt":"2026-07-23T18:01:54Z","stringEncoding":"codePoint","warnings":[],"contents":[{"path":"input1","markdown":"CONTOSO
        LTD.\n\n\n# INVOICE\n\nContoso Headquarters\n123 456th St\nNew York, NY, 10001\n\nINVOICE:
        INV-100\n\nINVOICE DATE: 11/15/2019\n\nDUE DATE: 12/15/2019\n\nCUSTOMER NAME:
        MICROSOFT CORPORATION\n\nSERVICE PERIOD: 10/14/2019 - 11/14/2019\n\nCUSTOMER
        ID: CID-12345\n\nMicrosoft Corp\n123 Other St,\nRedmond WA, 98052\n\nBILL
        TO:\nMicrosoft Finance\n123 Bill St,\nRedmond WA, 98052\n\nSHIP TO:\nMicrosoft
        Delivery\n123 Ship St,\nRedmond WA, 98052\n\nSERVICE ADDRESS:\nMicrosoft Services\n123
        Service St,\nRedmond WA, 98052\n\n\n<table>\n<tr>\n<th>SALESPERSON</th>\n<th>P.O.
        NUMBER</th>\n<th>REQUISITIONER</th>\n<th>SHIPPED VIA</th>\n<th>F.O.B. POINT</th>\n<th>TERMS</th>\n</tr>\n<tr>\n<td></td>\n<td>PO-3333</td>\n<td></td>\n<td></td>\n<td></td>\n<td></td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<th>DATE</th>\n<th>ITEM
        CODE</th>\n<th>DESCRIPTION</th>\n<th>QTY</th>\n<th>UM</th>\n<th>PRICE</th>\n<th>TAX</th>\n<th>AMOUNT</th>\n</tr>\n<tr>\n<td>3/4/2021</td>\n<td>A123</td>\n<td>Consulting
        Services</td>\n<td>2</td>\n<td>hours</td>\n<td>$30.00</td>\n<td>$6.00</td>\n<td>$60.00</td>\n</tr>\n<tr>\n<td>3/5/2021</td>\n<td>B456</td>\n<td>Document
        Fee</td>\n<td>3</td>\n<td></td>\n<td>$10.00</td>\n<td>$3.00</td>\n<td>$30.00</td>\n</tr>\n<tr>\n<td>3/6/2021</td>\n<td>C789</td>\n<td>Printing
        Fee</td>\n<td>10</td>\n<td>pages</td>\n<td>$1.00</td>\n<td>$1.00</td>\n<td>$10.00</td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<td>SUBTOTAL</td>\n<td>$100.00</td>\n</tr>\n<tr>\n<td>SALES
        TAX</td>\n<td>$10.00</td>\n</tr>\n<tr>\n<td>TOTAL</td>\n<td>$110.00</td>\n</tr>\n<tr>\n<td>PREVIOUS
        UNPAID BALANCE</td>\n<td>$500.00</td>\n</tr>\n<tr>\n<td>AMOUNT DUE</td>\n<td>$610.00</td>\n</tr>\n</table>\n\n\nTHANK
        YOU FOR YOUR BUSINESS!\n\nREMIT TO:\nContoso Billing\n123 Remit St\nNew York,
        NY, 10001\n","fields":{"schema":{"type":"json","valueJson":{"SellerName":{"type":"string","method":"extract","description":"Legal
        or trade name of the company issuing the invoice","examples":["CONTOSO LTD."]},"InvoiceNumber":{"type":"string","method":"extract","description":"Unique
        identifier assigned to the invoice for tracking and payment reference","examples":["INV-100"]},"InvoiceDate":{"type":"date","method":"extract","description":"Calendar
        date when the invoice was issued","examples":["2019-11-15"]},"DueDate":{"type":"date","method":"extract","description":"Calendar
        date by which payment is expected under the invoice terms","examples":["2019-12-15"]},"ServicePeriod":{"type":"object","method":"generate","description":"Start
        and end dates defining the period during which services were provided for
        this invoice","properties":{"StartDate":{"type":"date","method":"extract","description":"First
        date of the billed service period","examples":["2019-10-14"]},"EndDate":{"type":"date","method":"extract","description":"Last
        date of the billed service period","examples":["2019-11-14"]}},"examples":[]},"CustomerName":{"type":"string","method":"extract","description":"Name
        of the customer organization being billed on the invoice","examples":["MICROSOFT
        CORPORATION"]},"CustomerId":{"type":"string","method":"extract","description":"Identifier
        assigned to the customer account by the seller for billing and account matching","examples":["CID-12345"]},"SellerAddress":{"type":"string","method":"extract","description":"Mailing
        address of the seller as printed on the invoice header","examples":["Contoso
        Headquarters\n123 456th St\nNew York, NY, 10001"]},"CustomerAddress":{"type":"string","method":"extract","description":"Primary
        customer address shown on the invoice, typically the customer headquarters
        or account address","examples":["Microsoft Corp\n123 Other St,\nRedmond WA,
        98052"]},"BillToAddress":{"type":"string","method":"extract","description":"Billing
        recipient name and address where invoices and payment correspondence should
        be directed","examples":["Microsoft Finance\n123 Bill St,\nRedmond WA, 98052"]},"ShipToAddress":{"type":"string","method":"extract","description":"Delivery
        recipient name and address where goods or deliverables are shipped","examples":["Microsoft
        Delivery\n123 Ship St,\nRedmond WA, 98052"]},"ServiceAddress":{"type":"string","method":"extract","description":"Location
        where services were performed or to which service delivery applies","examples":["Microsoft
        Services\n123 Service St,\nRedmond WA, 98052"]},"OrderInformation":{"type":"object","method":"generate","description":"Header-level
        order and shipping details associated with the invoice","properties":{"Salesperson":{"type":"string","method":"extract","description":"Name
        or identifier of the salesperson responsible for the sale, if provided","examples":[]},"PurchaseOrderNumber":{"type":"string","method":"extract","description":"Customer
        purchase order number referenced for this invoice","examples":["PO-3333"]},"Requisitioner":{"type":"string","method":"extract","description":"Person
        or department that requested the purchase on the customer side, if provided","examples":[]},"ShippedVia":{"type":"string","method":"extract","description":"Carrier
        or shipping method used for delivery, if provided","examples":[]},"FobPoint":{"type":"string","method":"extract","description":"Free
        On Board point indicating where ownership and risk transfer, if provided","examples":[]},"Terms":{"type":"string","method":"extract","description":"Payment
        or delivery terms printed in the order header, if provided","examples":[]}},"examples":[]},"LineItems":{"type":"array","method":"generate","description":"Itemized
        charges billed on the invoice, typically one row per product or service","items":{"type":"object","method":"generate","properties":{"Date":{"type":"date","method":"extract","description":"Service
        or transaction date associated with the line item","examples":["2021-03-04"]},"ItemCode":{"type":"string","method":"extract","description":"Seller-defined
        code identifying the billed item or service","examples":["A123"]},"Description":{"type":"string","method":"extract","description":"Narrative
        description of the product or service billed on the line","examples":["Consulting
        Services"]},"Quantity":{"type":"number","method":"extract","description":"Number
        of units billed for the line item","examples":["2"]},"UnitOfMeasure":{"type":"string","method":"extract","description":"Unit
        of measure for the quantity such as hours, pages, or each","examples":["hours"]},"UnitPriceAmount":{"type":"number","method":"extract","description":"Price
        per unit for the line item before tax","examples":["30"]},"TaxAmount":{"type":"number","method":"extract","description":"Tax
        charged for the line item","examples":["6"]},"LineAmount":{"type":"number","method":"extract","description":"Extended
        amount for the line item as billed on the invoice","examples":["60"]}}},"examples":[]},"SubtotalAmount":{"type":"number","method":"extract","description":"Sum
        of line item amounts before taxes and other adjustments","examples":["100"]},"SalesTaxAmount":{"type":"number","method":"extract","description":"Total
        sales tax charged on the invoice","examples":["10"]},"TotalAmount":{"type":"number","method":"extract","description":"Total
        invoice amount including taxes and other charges before applying prior balances
        or payments","examples":["110"]},"PreviousUnpaidBalanceAmount":{"type":"number","method":"extract","description":"Outstanding
        balance from prior invoices carried forward onto this invoice","examples":["500"]},"AmountDueAmount":{"type":"number","method":"extract","description":"Total
        amount currently due, typically including current invoice total plus any prior
        unpaid balance","examples":["610"]},"RemitToAddress":{"type":"string","method":"extract","description":"Name
        and address where payment should be remitted","examples":["Contoso Billing\n123
        Remit St\nNew York, NY, 10001"]}}}},"kind":"document","startPageNumber":1,"endPageNumber":1,"unit":"inch","pages":[{"pageNumber":1,"angle":0,"width":8.5,"height":11}],"analyzerId":"prebuilt-documentFieldSchema","mimeType":"application/pdf"}]},"usage":{"documentPagesStandard":1,"contextualizationTokens":1000,"tokens":{"gpt-5.2-input":5019,"gpt-5.2-output":1738}}}'
    headers:
      Content-Type:
      - application/json
      api-supported-versions:
      - 2025-11-01,2026-06-01-preview
      x-ms-region:
      - East US 2
    status:
      code: 200
      message: OK
version: 1
